<!--
 * @Author: 明华
 * @Date: 2021-02-07 17:50:00
 * @LastEditors: 明华
 * @LastEditTime: 2021-02-26 12:01:59
 * @Description: 
 * @FilePath: /sparrow_web/themes/sparrow_landscape/layout/index.ejs
-->
<!-- <div>我是首页</div>
<div>我是首页</div>
<div>我是首页</div> -->
<%- partial('_partial/archive', {pagination: 2, index: true}) %>
